.btn {
  background-color: red;
  padding: 10px;
  margin: 10px;
}

.select {
  width: 50%;
}

.messageSuccess {
  background-color: aqua;
}
.ant-message-notice-content {
  background-color: black;
  color: aquamarine;
}
